
.film .affiche, .fiche-film .affiche{
  .titre{
    display: flex;
    justify-content: center;
    color: black;
  }


  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;

  .date, .budget, .vote, .langue, .description{
    display: flex;
    justify-content: center;
    text-align: center;
  }


}


.liste-acteurs{
  display: flex;
justify-content: center;
  h3{
    color:$color-messenger ;
  }

}

.liste-acteurs img{
  width: 100px;
  margin: 20px;
}
.commentaire{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;

  h3{
    color:$color-messenger ;
    margin: 0;
  }
  p{
    border: 3px  solid $color-messenger ;
  }
}


@media screen and (min-width: $vw-small) {
  .film .affiche, .fiche-film .affiche{
    width: 75%;
    padding: 20px;

  }

  .commentaire{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3{
      color:$color-messenger ;
    }

}
}
