

footer {
  color : $color-messenger;
  background-color: $color-tumblr;
  padding:20px;
  text-align: center;


    img{
      width:20%;
    }
  }

@media screen and (min-width: $vw-small) {
  img{
    width:50%;
  }
}
