//STYLE DE NOTRE HEADER

.header-page {
  background-color: $color-tumblr;

  h2{
    display: flex;
    justify-content: center;
    margin: 0;
  }

  a{
    color: $color-messenger;
    text-decoration: none;
  }

  //nav .show-menu, nav .toggle-menu {
  //  display: none;
  //}
  nav {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

    ul {
      list-style: none;
      padding: 0;

      width: 100%;
      text-align: center;
    }
    //  li{
    //    position:relative;
    //
    //    &>ul {
    //      display: none;
    //      z-index: 50;
    //      top: 100%;
    //
    //      padding-top: 20px;
    //
    //      background: $color-bg-dark;
    //
    //      li{
    //        width: 100%;
    //      }
    //    }

      }


      li:hover > ul {
        display: block;

        li{
          padding: 5px;
        }

        li:hover{
          background: $gray-600;
        }
      }

  //  }

//  }

//}

@media screen and (min-width: $vw-small) {
  .header-page {

    a{
      display: flex;
      text-decoration: none;

    }


    //nav .show-menu {
    //  display: block;
    //  text-align: center;
    //  color: #fff;
    //  background: #555;
    //  padding: 10px 0;
    //}
    //
    //nav .toggle-menu:checked + ul {
    //  display: block;
    //}
    //
    //nav .toggle-menu {
    //  display: none;
    //}


    nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        width: auto;
        text-align: center;

        a {
          padding: 5px 10px;
        }

        li>ul{
          position: absolute;
          min-width: 100px;
        }
      }
    }
  }

}

