.liste-films{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  article {

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{font-size: $fz-h3;}

  }
  img{
    width:100%;


  }

}

@media screen and(min-width:$vw-small) {
  .liste-films{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    article {

      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      height: 50%;
      h2{font-size: $fz-h3;}

    }




  }
}

@media screen and(min-width:$vw-medium) {
  .liste-films {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    article {

      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      h2{font-size: $fz-h3;}

    }
    //img{
    //  width:50%;
    //
    //
    //}


  }
}


