.template{
  display: none;
  padding: 20px;



}

@media screen and (min-width: $vw-small){

  .template{
    article {

      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;



      h2{
        font-size: $fz-h3;

      }

    }



  }


}

